<header>
  <div><%= link_to 'All Patterns', patterns_path %></div>
  <div><%= link_to 'Add New', new_pattern_path %></div>
  <div> | </div>
  <div><%= link_to 'Brands', brands_path %></div>
  <div><%= link_to 'Add Brand', new_brand_path %></div>
</header>