<h1>Patterns Index</h1>
<div>
  <%= link_to 'New Pattern', new_pattern_path %>
</div>
<div>
  <% @patterns.each do |pattern| %>
    <div><%= pattern.name %> by <%= pattern.brand %> <%= link_to 'details', pattern_path(pattern) %></div>
  <% end %>
</div>

